.icon-nav {
	display: flex;
	max-height: 200px;
	height: 100%;
	padding: 50px;
	border-bottom: 1px solid #C6C6C6;
}

.icon-nav .logo {
	margin-left: 50px;
	width: 600px;
	height: 200px;
	position: relative;
	top: -50px;

}

.icon-nav ul {
	list-style-type: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	;
}

.icon-nav ul li {
	float: left;
}

.icon-nav .icons {
	width: 94px;
}

.icon-nav-right {
	width: 50%;
	display: flex;
	justify-content: center;
}

.icon-link-tags {
	display: flex;
	flex-direction: column;
	align-items: center;
}