.primary-button {
	background-color: #695395;
	border: none;
	padding: 10px 50px;
	margin: 20px;
	color: #ffffff;
}

.secondary-button {
	background-color: #001F3F;
	border: none;
	padding: 10px 50px;
	margin: 20px;
	color: #ffffff;

}