.primary-button {
	background-color: #695395;
	border: none;
	padding: 15px 50px;
	margin-top: 20px;
	color: #ffffff;
	width: 100%;
}

.secondary-button {
	background-color: #001F3F;
	border: none;
	padding: 15px 50px;
	margin-top: 20px;
	color: #ffffff;
	width: 100%;
}

.createNew {
	border-radius: 110%;
	border: none;
	padding: 10px;
	margin: 0;
	width: 57px;
	height: 57px;
	background-color: #E5E5E5;
	color: #000000;
}