.slider-item {
	/* display: flex !important;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px; */
	transform: translate(-126px, 10px);
}

.slider-item img {
	max-width: 270px;
	box-shadow: 0 3px 6px #00000075;
}

.grey {
	background-color: rgb(231, 231, 231);
}

.slick-slider {
	max-width: 1140px;
	padding: 10px;
}