.admin {
  text-align: left;
  background-color: #ffffff;
  height: 100vh;
  overflow: scroll;
}

.blogs-header-bar {
  display: flex;
  align-items: center;
}

th {
  border: 0 !important;
}

td {
  border: 0 !important;
}

th,
td {
  padding: 40px
}