.admin {
  text-align: left;
  background-color: #EEEEEE;
  height: 100vh;
  overflow: scroll;
}

.blogs-header-bar {
  display: flex;
  align-items: center;
}

.table {
  background-color: #ffffff;
  border: 1px solid #C6C6C6;
}