.editor {
	border: 1px solid black;
	text-align: start;
	min-height: 20em;
	padding: 20px;
}

.public-DraftEditor-content {
	min-height: 40em;
}

.editorWrapper {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 20px;
	flex-direction: column;
	max-width: 70em;
	background-color: #ffffff;
	border: 1px solid #c6c6c6;
	border-radius: 20px 20px 0 0;
}

.rdw-editor-main {
	height: 100%;
	overflow: scroll;
	box-sizing: border-box;
	max-height: 500px;
}


.editorContent {
	justify-content: center;
	align-items: center;
	display: flex;
	align-content: center;
	flex-direction: column;
}



.DraftEditor-root {
	padding: 10px;
}

.title-box {
	border: 1px solid #c6c6c6;
	width: 65em;
	padding: 15px;
	text-align: center;
}

.rdw-image-imagewrapper img {
	max-width: 600px;
}

.sidebar{
	max-width: 300px;
	position: fixed;
	height: 100vh;
	width: 100%;
}