.editor {
	border: 1px solid black;
	text-align: start;
	min-height: 10em;
	padding: 20px;
}

.public-DraftEditor-content {
	min-height: 10em;
}

.editorWrapper {
	border: 1px solid black;
	max-height: 300px;
	overflow: scroll;
}

.DraftEditor-root {
	padding: 10px;
}

.title-box {
	border: 1px solid black;
}